<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    {{ content | safe }}
	</main>
  
	<header>
		<section class="details">
			<h1>{{ stream.title }}</h1>
			<p>{{ stream.description }}</p>
			<strong class="cta">{{ stream.cta }}</strong>
			<ul class="commands">
				{% for command in stream.chatCommands %}
				<li>!{{ command }}</li>
				{% endfor %}
			</ul>
		</section>
	</header>
</body>
</html>